.carousel-container {
    max-width: 100%;
    margin-top: -0.5px;
}

.slider-wrapper {
    position: relative;
    overflow: hidden;
}

.slider {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.slider img {
    width: 100%;
    /* Cambio importante: las imágenes ocuparán el 100% del contenedor */
    height: auto;
}

.slider-nav {
    display: flex;
    justify-content: center;
}

.slider-nav a {
    display: block;
    width: 10px;
    height: 10px;
    background-color: gray;
    transition: background-color 0.3s ease-in-out;
}

.slider-nav a.active {
    background-color: black;
}