.carousel-container {
    max-width: 100%;
    margin-top: -0.5px;
}

.slider-wrapper {
    position: relative;
    overflow: hidden;
}

.slider {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.slider img {
    width: 100%;
    /* Cambio importante: las imágenes ocuparán el 100% del contenedor */
    height: auto;
}

.slider-nav {
    display: flex;
    justify-content: center;
}

.slider-nav a {
    display: block;
    width: 10px;
    height: 10px;
    background-color: gray;
    transition: background-color 0.3s ease-in-out;
}

.slider-nav a.active {
    background-color: black;
}

/* Menu */

.user-logout {
    display: none;
    position: absolute;
    z-index: 1;
    background-color: #212529;
    padding: .2rem 2rem;
    width: 200px;
    margin-left: -30px;
}

.user-logout a {
    font-size: .9rem;
}

.user-logout-d-block {
    display: block;
}

.nav-menu-login {
    position: relative;
}